body{
    font-family:'Century Gothic';
    font-size: 14px;
    margin:auto;
    background: rgba(182, 182, 182, 0.45);
    position: relative;
    color: #501327;
}

p{
    text-align: center;
    padding-top: 50px;
    font-style: normal ;
    font-size: 14px;
}

.sec{
    text-align: center;
    position: relative;
    top: 150px;
}
.sec li{
    list-style: none;
    text-decoration: none;
}

button{
   font-size: 50px;
}

.scroll_checkboxes {
    border:2px solid #ccc; width:600px; height: 120px; margin: auto; overflow-y: scroll;
}

.sonuclar p{
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    margin: -30px;
}

.new li{
    margin: 20px;
    list-style: none;
    padding-left: 590px;
}

.p1 p{
    padding-left: 40px;
    padding-top: 250px;
}

.base{
    padding-top: -250px;
}

.se li{
    padding-top: -50px;
    list-style: none;
    padding-left: 550px;
}