body{
    font-family:'Century Gothic';
    font-size: 14px;
    margin:auto;
    background: rgba(251, 251, 251, 0.45);
    position: relative;
    color: #951a5c;
}

p{
    text-align: center;
    padding-top: 50px;
    font-style: normal ;
    font-size: 14px;
}

p.hidden{
    display:none;
}

.sec{
    text-align: center;
    position: relative;
    top: 150px;
}
.sec li{
    list-style: none;
    text-decoration: none;
}

button{
   font-size: 50px;
}

.sc{
    border:2px solid #ccc; width:1100px; height: 320px; margin: auto; overflow-y: scroll;
    font-size: 12px;
}

.scroll_checkboxes {
    border:2px solid #ccc; width:600px; height: 120px; margin: auto; overflow-y: scroll;
}

.sonuclar p{
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    margin: -30px;
}

.new li{
    margin: 20px;
    list-style: none;
    padding-left: 550px;
}

.p1 p{
    padding-top: 250px;
}

.base{
    padding-top: -250px;
}

.se li{
    padding-top: -50px;
    list-style: none;
    padding-left: 500px;
}

.sonuclar #goster{
    margin-left: 550px;
}

#goster0{
    margin-left: -80px;
}
#upll{
    margin-left: -50px;
}
th,td {  margin: 0;  text-align: center;  border-collapse: collapse;  outline: 1px solid #7c1849;  }
td {  padding: 5px 10px;  }
th { background: #add8e6;  color: #7c1849;  padding: 5px 10px;  }
td:hover {  cursor: pointer;  background: #7f7a81;  color: white;  }