<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/h1.css">
    <title>GlobalDesignProject</title>
</head>
<body class="b">
{% block content %}
    <div class="p1"><p>Courses</p></div>
<div>
<form action=""  method="POST">
    <ul class="se">
        <li>
            <label for="tur">Choose item</label>
                <select name="bolum" id="tur" style="font-size:15px">
                    <option value="All">Departments</option>
                    {% for bolum in bolumler %}
                        <option value="{{ bolum }}">{{ bolum }}</option>
                    {% endfor %}
                </select>
        </li>
    </ul>
    <ul class="new">
        <li><input type="submit" id="goster" class="goster" value="Show" style="font-size:20px; color:  #2f0b18"></li>
    </ul>
</form>
</div>
</body>
{% endblock %}
</html>