{% extends "yeni.html" %}
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/h1.css">
    <title>GlobalDesignProject</title>
</head>
<body>
{% block content %}
    <p> RESULTS </p>
    <div class="sonuclar">
    {% for b in ii %}
        <p> {% for i in b|slice:"0:1" %} {{ i }} {% endfor %}{% for i in b|slice:"1:2" %} {{ i }} {% endfor %}{% for i in b|slice:"2:3" %} {{ i }} {% endfor %}{% for i in b|slice:"3:4" %} {{ i }} {% endfor %}{% for i in b|slice:"4:5" %} {{ i }} {% endfor %}{% for i in b|slice:"5:6" %} {{ i }} {% endfor %} </p>
    {% endfor %}
    </div>
</body>
</html>
{% endblock %}